<div class="container col-lg-9" align="left">
    <h3>About Joshua</h3>
    <p>Joshua Grimaud is currently a .NET developer by day and University of Louisville student by night.</p>
    <br />
    <h3>About Angular</h3>
    <img src="images/angularjs.png" alt="AngularJS" />
    <p>Angular is a javascript framework. to learn more about angular, click the button below</p>
    <p><a class="btn btn-lg btn-danger" ng-href="https://angularjs.org/">AngularJS</a></p>
    <br />
    <h3>About Yeoman</h3>
    <img src="images/yeoman.png" alt="Yeoman!" />
    <p>This site was built using the scaffolding provided by Yeoman. To learn more about Yeoman, and what it can do for you, click the button below.</p>
    <p><a class="btn btn-lg btn-success" ng-href="http://yeoman.io/">Yeoman!</a></p>
</div>p>